.gpt-bm {}
.gpt-bm__wrapper {
	background: rgba(255, 255, 255, 0.9);
	border-radius: 10px;
	border: 5px solid #666;
	bottom: 10px;
	overflow: auto;
	padding: 10px;
	position: fixed;
	right: 10px;
	top: 10px;
	width: 410px;
	z-index: 10000000000;
}

.gpt-bm__wrapper--left {
	left: 10px;
	right: auto;
}
/* Fonts */
.gpt-bm__h1,
.gpt-bm__h2,
.gpt-bm__h3,
.gpt-bm li,
.gpt-bm__btn {
	font-family: Avenir, "Noto Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial;
	font-weight: normal;
}
/* Buttons */
.gpt-bm__buttons {
	align-items: center;
	display: flex;
	justify-content: flex-end;
	padding: 0 10px;
	right: 0;
	top: 5px;
}

.gpt-bm__wrapper .gpt-bm__buttons {
	padding: 0;
}

.gpt-bm__btn {
	align-items: center;
	border-radius: 5px;
	border: none;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-flex;
	font-size: 0.875rem;
	font-weight: bold;
	justify-content: center;
	line-height: 1;
	transition: all 200ms ease;
}
.gpt-bm__btn.gpt-bm__btn--rect-lg {
	padding: 1.5em 1em;
}
.gpt-bm__btn.gpt-bm__btn--rect-sm {
	padding: 0.75em 1em;
}
.gpt-bm__btn.gpt-bm__btn--square {
	width: 45px;
	height: 45px;
	padding: 1.1em 1em;
}
.gpt-bm__btn.gpt-bm__btn--black {
  color: #000;
}
.gpt-bm__btn-top {
  width: 2rem;
  height: 2rem;
}
.gpt-bm__btn--video {
	margin-top: 10px;
}
.gpt-bm__btn:hover {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.gpt-bm__header-container {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}
.gpt-bm__swap {
	background: url('https://www.forbes.com/assets/images/swap-btn.svg') no-repeat left top;
    background-size: 100% 100%;
}
.gpt-bm__refresh {
	background: url('https://www.forbes.com/assets/images/replay-btn.svg') no-repeat left top;
	background-size: 100% 100%;
}
.gpt-bm__close {
	background: url('https://www.forbes.com/assets/images/close-btn.svg') no-repeat left top;
	background-size: 100% 100%;
}
.gpt-bm__forbes-logo {
	padding: 10px 0 5px 0;
	width: 230px;
}
/* Video */
.gpt-bm__video {
	display: flex;
	flex-direction: column;
}
.gpt-bm__video button {
	border: 1px solid black;
}
.gpt-bm_btn--refresh {
	border: 1px solid black;
	display: flex;
	margin: 6px 0 0 0;
	width: 100%;
}
.gpt-bm__p--desc {
	display: inline-block;
	padding-top: 4px;
}
/* Slots */
.gpt-bm__slot {
	cursor: pointer;
}
.gpt-bm__slot:hover {
	border-radius: 10px;
}
.gpt-bm__slot a {
	color: #003891;
}
.gpt-bm__slot-creative a {
	display: block;
}
/* Headers */
.gpt-bm__h1 {
	font-size: 40px;
	line-height: 64px;
	border-bottom: 1px solid black;
	margin: 30px 10px 0;
}
.gpt-bm__h2 {
	font-size: 32px;
	line-height: 51.2px;
	margin-top: 10px;
}
.gpt-bm__h3 {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #666;
	color: #fff;
	font-size: 24px;
	line-height: 38.4px;
	padding: 0 10px;
}
.gpt-bm__h3 span {
	font-size: 12px;
	margin-left: 10px;
}
/* Highlights */
.gpt-bm__highlight {
	background: rgba(200, 200, 200, 0.5);
	display: none;
	border-radius: 10px;
	position: absolute;
	z-index: 2;
}
.gpt-bm__highlight--visible {
	display: block;
}
/* Page level */
.gpt-bm ul {
	border: 1px solid #666;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	font-family: Arial, Helvetica, sans-serif;
	list-style-type: none;
	padding: 5px;
}
.gpt-bm .gpt-bm__slot ul {
	margin: 0;
}
.gpt-bm li {
	font-size: 16px;
	line-height: 25.6px;
	word-wrap: break-word;
}
.gpt-bm li b {
	font-weight: bold;
}

@media (max-width: 480px) {
	.gpt-bm__wrapper {
		width: 300px;
		height: 600px;
	}

	.gpt-bm__forbes-logo {
		width: 200px
	}

	.gpt-bm__header-container .gpt-bm__buttons button {
		width: 25px;
	}

	.gpt-bm__h2 {
		font-size: 20px;
		line-height: 20px;
		padding: 20px 0 10px 0;
	}

	.gpt-bm__h3 {
		font-size: 16px;
	}
	
	.gpt-bm__buttons button:first-child {
		display: none;
	}

	.gpt-bm li {
		font-size: 14px;
		line-height: 20px;
	}
}
